header {
	width: 100%;
	line-height: 44px !important;
}

.mui-bar.mui-bar-nav {
	background-color: #383838 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.mui-bar.mui-bar-nav .mui-pull-left {
	color: #fff !important;
}

.mui-bar.mui-bar-nav .mui-title {
	color: #fff !important;
	font-size: 18px !important;
	font-weight: 700 !important;
}
